@{
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

@if (TempData["Popup"] != null)
{
    @section Scripts {
        <script>
            document.addEventListener("DOMContentLoaded", function () {
                const popup = @Html.Raw(TempData["Popup"]);
                showGamePopup(
                    popup.type,
                    popup.title,
                    popup.message
                );
            });
        </script>
    }
}

<style>
    .auth-center {
        min-height: calc(100vh - 120px);
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .auth-box {
        width: 420px;
        text-align: center;
    }

        .auth-box h1 {
            color: #48eaff;
            letter-spacing: 3px;
            font-size: 22px;
            margin-bottom: 30px;
        }

    /* INPUT */
    .auth-field {
        position: relative;
        margin-bottom: 18px;
    }

        .auth-field input {
            width: 100%;
            padding: 14px 40px 14px 14px;
            background: rgba(5,15,35,.9);
            border: 1px solid rgba(0,255,255,.5);
            color: #dffaff;
            outline: none;
        }

            .auth-field input::placeholder {
                color: rgba(223,250,255,.55);
            }

        .auth-field i {
            position: absolute;
            right: 12px;
            top: 50%;
            transform: translateY(-50%);
            color: #48eaff;
            font-size: 14px;
        }

    /* BUTTON */
    .auth-btn {
        width: 100%;
        padding: 14px;
        background: linear-gradient(90deg,#00eaff,#00bcd4);
        border: none;
        color: #031318;
        font-weight: 600;
        letter-spacing: 3px;
        cursor: pointer;
        box-shadow: 0 0 20px rgba(0,255,255,.45);
        transition: .25s;
    }

        .auth-btn:hover {
            transform: scale(1.03);
        }

    /* PASSWORD RULES */
    .rules {
        text-align: left;
        font-size: 11px;
        margin: 10px 0 18px;
    }

        .rules div {
            margin-bottom: 4px;
        }
</style>

<div class="auth-center">
    <div class="auth-box">
        <h1>FORGOT PASSWORD</h1>

        <form asp-action="ForgotPassword" method="post"
              onsubmit="showGameLoader('Sending...', 'Generating reset link')">

            <div class="auth-field">
                <input name="email" placeholder="your.email@domain.com" />
            </div>

            <button class="auth-btn">SEND</button>
        </form>

        <p style="display:inline-block;padding:14px 0 0 0;">OR</p>

        <a asp-action="Login" class="auth-btn"
           style="display:inline-block;padding:14px 30px;
            text-decoration:none;color: #031318;">
            NEVER MIND I REMEMBERED
        </a>
    </div>
</div>
